*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.keypad{
    display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(5,1fr);
 
 }
 form{
 display: grid;
 justify-content: center;
 }
 .App{
   display: grid;
   justify-content: center;
   margin-top: 100px;
   border-collapse: collapse;
 }
 input[type="text"]{
   width: 374px;
   padding: 10px;
   text-align: right;
   background-color: black;
   color: #fff;
   border: none;
   
 }
 #plus{
    grid-row: 2/4;
    grid-column: 4;
 }
 #equal{
    grid-row: 4/6;
    grid-column: 4;
 }